@model SwapMVC.Models.Account

@{
    ViewBag.Title = "Login";
}




<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:430px;margin-top:85px">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../Images/logo.png" />
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">Đăng nhập</h3>


                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>

                        <div class="input-group">
                            <span class="input-group-addon">></span>
                            <input type="text" class="form-control" name="Email" placeholder="Email">
                            @Html.ValidationMessageFor(a => a.Email)
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">></span>
                            <input type="password" class="form-control" name="Passwd" placeholder="Mật khẩu">
                            @Html.ValidationMessageFor(a => a.Passwd)
                        </div>

                        <div class="input-group" style="margin-top:7px">
                            <input type="checkbox"> <span> Ghi nhớ mật khẩu</span>
                            <span style="float:right"><a id="sthing" href="" data-toggle="modal" data-target="#registerModal">Đăng ký |</a><a href=""> Quên mật khẩu?</a></span>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        </div>

                    </fieldset>

                }
            </div>

        </div>
    </div>
</div> 