@model IEnumerable<SwapMVC.Models.Category>
           
<div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:430px;margin-top:85px">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel"><span><img src="~/Images/logo.png" /></span> Thông báo</h3>
            </div>
            <div class="modal-body">
               @foreach (var item in Model)
               {
                   item.Name;
               }


            </div>

        </div>
    </div>
</div> 